* {
  font-family: monospace;
}

body {
  line-height: 150%;
}

html {
  background-color: #dcdcdc;
}

.container, .button {
  max-width: 75%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.span {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 3em;
}

.directions {
  text-align: center;
  border-bottom: solid 1px #A9A9A9;
  font-size: 1.5em;
}

.options {
  text-align: center;
}

label {
  line-height: 150%;
}

.container {
  margin-top: 2em;
  font-size: 1.5em;
}

input, select {
  font-size: 110%;
}

.submit {
  width: 100%;
}

.button {
  font-size: 125%;
}

.recipeContainer {
  border: solid 2px #a9a9a9;
  max-width: 60%;
  font-size: 110%;
  background-color: white;
  padding: 2em;
  margin: 2em auto 0;
}

.ingPara {
  font-weight: bold;
  font-size: 120%;
  text-align: left;
}

.ingUL {
  text-align: left;
}
